---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

body {
    font:16px/1.9 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page-title {
    display: none;
}

.page__content {
    ul:not(.toc__menu) {
        list-style: none;
        padding-left: 0;

        li {
            text-indent: -1em;
            padding-left: 1em;
        }

        li::before {
          content: "\00BB  ";
          color: #CC0000;
        }
    }
}

ul.toc__menu {
    text-transform: none;
}

.nav__list .nav__items .active {
    color: #CC0000;
}
